/* index.css */

/* Import the font first */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom font class */
.shadows-into-light-regular {
  font-family: 'Shadows Into Light', serif;
  font-weight: 400;
  font-style: normal;
}


.barlow {
  font-family: "Barlow", serif;
  font-weight: 500;
  font-style: normal;
}
  
  
.cinzel{
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  
  .ysabeau {
    font-family: "Ysabeau SC", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }